body {
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 0px;
}

table {
    width: 98%;
    height: 100%;
    margin: auto;
}

.divTimeLine {
    margin-top: 5px;
}

.container {
    max-width: 100% !important;
    position: relative;
}

.left {
    width: 55%;
    height: 700px;
    border: 1px #000 solid;
    background-color: #f8f9fa;
    max-height: 700px;
    min-width: 450px;
    resize: horizontal;
    overflow: hidden;
}

.right {
    height: 98%;
    max-width: 1100px;
    max-height: 700px;
    min-width: 550px;
    min-height: 700px;
}

.right .top {
    height: 60.45%;
    width: 100%;
    vertical-align: top;
    border: 1px #000 solid;
    background-color: #f8f9fa;
    position: relative;
    min-width: 380px;
}

.right .bottom {
    height: 40.45%;
    width: 100%;
    margin-top: 3px;
    vertical-align: bottom;
    border: 1px #000 solid;
    background-color: #f8f9fa;
    position: relative;
    min-width: 380px;
}

.imageFromVisor {
    margin: 1% !important;
}

.titulo {
    position: absolute;
    top: 35px;
    left: 15px;
    width: 20%;
}

.dropdown {
    list-style: none;
    background: #17a2b8;
    border-radius: 9px;
}

.dropdown .nav-link {
    color: #fff;
    text-decoration: none;
}

.dropdown .dropdown-menu a {
    color: #fff;
    text-decoration: none;
}

.dropdown .btn {
    background: #17a2b8;
    color: #fff;
    border-radius: 9px;
}

.dropdown .btn:hover {
    background: #17a2b8;
    color: #fff;
    border-radius: 9px;
}

.dropdown-item {
    background: #17a2b8;
    color: #fff;
    border-radius: 9px;
}

.dropdown .btn:active {
    background: #17a2b8;
    color: #fff;
    border-radius: 9px;
}

.dropdown .btn:focus {
    background: #17a2b8;
    color: #fff;
    border-radius: 9px;
}

.dropdown .input {
    background: #17a2b8;
    color: #fff;
    border-radius: 9px;
}

.container .dropdown .dropdown-menu a:hover {
    color: #fff;
}

#team {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

path.leaflet-line {
    stroke: #cf7d01;
    stroke-width: 2;
}

div.imageVisor {
    background-color: #f8f9fa;
    padding: 2px;
    height: 100%;
}

p {
    font-size: 20px;
}

div.mainVisor {
    background-color: #f8f9fa;
    Height: 100%;
    Width: 100%;
}

div.divTimeLine {
    background-color: #f8f9fa;
    position: inline-block;
}

div.at {
    Height: 100%;
    Width: 100%;
    position: relative;
}

a {
    display: inline;
}

#option {
    Height: 20px;
    Width: 20px;
    z-index: 1;
    position: absolute;
    left: 0px;
    margin-left: 10px;
    margin-top: 3px;
}

#map {
    position: relative;
    Height: 688px;
    Width: 100%;
    top: 40px;
}

#fullscream {
    position: absolute;
    right: 9px;
}

#mode {
    padding: 4px;
    border-radius: 4px;
    left: 90px;
    top: 30px;
    z-index: 1;
    position: absolute;
    width: 30%;
}

h5 {
    position: absolute;
    left: 10px;
    width: 20%;
}

#commands {
    position: relative;
    top: -1px;
}

#Box {
    position: relative;
    top: 2px;
}

.nodeVisorTable table,
.nodeVisorTable th,
.nodeVisorTable td {
    border: 1px solid black;
    border-collapse: collapse;
}

tbody {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    height: 100%;
}

th {
    position: relative;
    width: 30%;
    height: 50%;
    padding: 5px;
}

td,
tr {
    position: relative;
    height: 100%;
    padding: 5px;
    text-align: left;
}

.range {
    position: relative;
    width: 50%;
    height: 5px;
}

.range input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: unset;
    width: 18px;
    height: 18px;
    margin: -9px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
}

.range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range-labels {
    margin: 18px 0;
    list-style: none;
}

.range-labels li {
    position: relative;
    float: left;
    width: 90.25px;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;
}

.range-labels li::before {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 9px;
    height: 9px;
    background: #b2b2b2;
    border-radius: 50%;
}